<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <title>Una Test-FullStack-作業 V.201901</title>
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  </head>
  <body>
  <h1>Una Test-FullStack-作業 V.201901</h1>
    <div id="main_layout" v-cloak>
         <el-card class="box-card" style="height:450px;">
          <div slot="header" class="clearfix">
            <span>最受用戶歡迎的商品前三名</span>
          </div>
            <div style="height: 400px;">
            <div id="hotprod" style="height: 100%"></div>
                </div>
        </el-card>
        <el-card class="box-card" style="height:450px;">
          <div slot="header" class="clearfix">
            <span>同類群組分析表</span>
              <br>
              <span>2018-2-7 的前六天使用者隨著時間推移的使用者回訪率變化</span>
          </div>
            <div style="height: 400px;">
            <div id="rebuy" style="height: 100%"></div>
                </div>
        </el-card>
        <el-card class="box-card" style="height:450px;">
          <div slot="header" class="clearfix">
            <span>最受用戶歡迎的商品前三名</span>
          </div>
             <el-table
                  :data="hot_product"
                  style="width: 100%">
                  <el-table-column
                    prop="ROWID"
                    label="No"
                    width="80">
                  </el-table-column>
                  <el-table-column
                    prop="product_name"
                    label="商品名稱"
                   >
                  </el-table-column>
                </el-table>
        </el-card>




    </div>


   <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.10.0/lib/index.js"></script>

     <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>

    <script>

        var obj;
        obj = new Vue({
            el: '#main_layout',
            data:{
                hot_product: {{ hot_product | safe }},
                free_shipping: {{ free_shipping | safe }},
                rebuy: {{ rebuy | safe }}
            }
        });

        var hotprod_dom = document.getElementById("hotprod");
        var hotprodChart = echarts.init(hotprod_dom);

        hotprod_option = {
            title : {
                text: '訂單免運比例圓餅圖',
                subtext: '',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['訂單總數','免運訂單數']
            },
            series : [
                {
                    name: '訂單免運比例',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data: obj.free_shipping,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        if (hotprod_option && typeof hotprod_option === "object") {
            hotprodChart.setOption(hotprod_option, true);
        }



        var dom = document.getElementById("rebuy");
        var rebuyChart = echarts.init(dom);
        var app = {};
        option = null;
        app.title = '';

        var rebuy_data = obj.rebuy['data'];

        rebuy_data = rebuy_data.map(function (item) {
            return [item[1], item[0], item[2] || '-'];
        });

        option = {
                tooltip: {
            position: 'top'
        },
        animation: false,
        grid: {
            height: '50%',
            y: '10%'
        },
        xAxis: {
            type: 'category',
            data: obj.rebuy['x_daily'],
            splitArea: {
                show: true
            }
        },
        yAxis: {
            type: 'category',
            data: obj.rebuy['daily'],
            splitArea: {
                show: true
            }
        },
        visualMap: {
            min: 0,
            max: 100,
            calculable: true,
            orient: 'horizontal',
            left: 'center',
            bottom: '15%'
        },
        series: [{
            name: '回購率',
            type: 'heatmap',
            data: rebuy_data,
            label: {
                normal: {
                    show: true
                }
            },
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
        };

        if (option && typeof option === "object") {
            rebuyChart.setOption(option, true);
        }

    </script>
  </body>
</html>
